// Import the typography styles.
//
// MDC Typography
//
@use '@material/typography/mdc-typography';

html,
body {
	padding: 0;
	margin: 0;
	font-family: monospace;
}

.container {
	padding: 30px;
	margin:auto;
	width: 100%;
}

.secondaryButton {
	background-color: #8CBA80;
}

body.mdc-dialog-scroll-lock {
    overflow: inherit;
}